.about-us-div {
    margin-top: -20px;
    background-color: rgba(4, 57, 98, 1);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.about-us-text {
    flex: 500px;
    color: white;
    font-size: 30px;
}

.about-us-padding {
    flex: 1;
    background-color: green;
}

.about-us-grid {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/CityDownView.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.background-box {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.about-message-title {
    font-size: 30px;
    color: white;
    margin-bottom: 0px;
}

.about-message {
    color: white;
    padding: 5px;
    width: 600px;
    text-align: center;
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 900px) { 
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 600px) { 
    .background-box {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        margin-bottom: 50px;
    }
    
    .about-message-title {
        font-size: 30px;
        color: white;
        margin-bottom: 0px;
    }
    
    .about-message {
        color: white;
        padding: 5px;
        width: 400px;
        text-align: center;
    
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    .about-us-div {
        margin-top: -20px;
        background-color: rgba(4, 57, 98, 1);
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    }
    
    .about-us-text {
        flex: 500px;
        color: white;
        font-size: 70px;
    }
    
    .about-us-padding {
        flex: 1;
        background-color: green;
    }
    
    .about-us-grid {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityDownView.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
    
    .background-box {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 900px;
        height: 1300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .about-message-title {
        font-size: 80px;
        color: white;
        margin-bottom: 0px;
    }
    
    .about-message {
        color: white;
        padding: 5px 5px 5px;
        width: 800px;
        text-align: center;
        font-size: 32px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
    .about-us-div {
        margin-top: -20px;
        background-color: rgba(4, 57, 98, 1);
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    }
    
    .about-us-text {
        flex: 500px;
        color: white;
        font-size: 70px;
    }
    
    .about-us-padding {
        flex: 1;
        background-color: green;
    }
    
    .about-us-grid {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityDownView.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
    
    .background-box {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 900px;
        height: 1300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about-message-title {
        font-size: 80px;
        color: white;
        margin-bottom: 0px;
    }
    
    .about-message {
        color: white;
        padding: 5px 5px 5px;
        width: 800px;
        text-align: center;
        font-size: 31px;
        margin-block-start: 5px;
        margin-block-end: 5px;
    }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) {
    .about-us-div {
        margin-top: -20px;
        background-color: rgba(4, 57, 98, 1);
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    }
    
    .about-us-text {
        flex: 500px;
        color: white;
        font-size: 70px;
    }
    
    .about-us-padding {
        flex: 1;
        background-color: green;
    }
    
    .about-us-grid {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityDownView.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
    
    .background-box {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 900px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about-message-title {
        font-size: 60px;
        color: white;
        margin-bottom: 0px;
    }
    
    .about-message {
        color: white;
        width: 800px;
        text-align: center;
        font-size: 30px;
    }
}

