.get-in-touch-div {
    margin-top: -20px;
    background-color: rgba(4, 57, 98, 1);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.get-in-touch-text {
    color: white;
    font-size: 35px;
}

.contact-section-bg {
    display: flex;
    flex-direction: row;
    position:relative
}

.left-contact-picture {
    width: 50vw;
    height: 90vh;
    background-image: url("../Images/lady.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.right-contact-picture {
    background-image: url("../Images/CityView.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 90vh;
    filter: contrast(50%);
}

.contact-section-div {
    position: absolute;
    width: 100vw;
    height: 33vw;
    display: flex;
    flex-direction: row;
}

.left-contact-div {
    width: 50vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info {
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;
    height: 500px;
    margin-top: -2vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.contact-form {
    margin-top: -1px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.contact-title {
    font-size: 50px;
    text-align: center;
    margin-top: -100px;
    font-weight: bold;
    color: rgb(255, 209, 2);
}

.contact-msg {
    width: 400px;
    color: black;
}

.input-name {
    margin-top: 10px;
    margin-bottom: 5px;
}

.input-box {
    padding: 10px;
    width: 400px;
    background-color: white;
    transition: 0.25s;
}

.input-textarea {
    border-color: black;
    border-width: 2px;
}

.input-box:hover {
    background-color: rgba(4, 57, 98, 0.5);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 3px;
    color: white;
}

.input-box:hover::placeholder {
    color: white;
}

.contact-input-field button {
    margin-top: -20px;
    padding: 20px 30px;
    background-color: #07568d;
    color: white;
    border-width: 0px;
    transition: 0.25s;
}

.contact-input-field button:hover {
    cursor: pointer;
    background-color: rgb(224, 184, 3);
}

.right-contact-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 50vw;
}

.right-contact-box {
    padding: 50px;
    background-color: white;
    font-size: 25px;
}

.location-title {
    font-size: 30px;
    color: black;
}
