.hero-div {
    display: flex;
    flex-direction: row;
}

.welcome-div {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome-info {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    margin-left: 15px;
}

.welcome-title {
    font-size: 50px;
    color: black;
    width: 500px;
}

.welcome-text {
    font-size: 30px;
    color: grey;
    width: 500px;
    margin-top: -10px;
}

.welcome-btn {
    background-color: white;
    color: #07568d;
    border-color: #07568d;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    transition: 0.25s;
    margin-top: 10px;
    z-index: 300;
}

.welcome-btn:hover {
    background-color: #07568d;
    color: white;
    cursor: pointer;
}

.welcome-image {
    background-image: url("../Images/CityLake.jpeg");
    background-size: cover;
    width: 50vw;
    filter: sepia(0%) saturate(200%) brightness(70%) hue-rotate(0deg);
    z-index: -5;
    height: 90vh;
}

.contact-us-title {
    z-index: 50;
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .welcome-title {
        font-size: 50px;
    }

    .welcome-text {
        font-size: 30px;
        color: rgb(92, 92, 92);
    }

    .welcome-btn {
        font-size: 20px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 900px) { 
    .welcome-div {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityLake.jpeg");
        background-size: cover;
        z-index: 0;
        height: 90vh;
    }

    .welcome-image {
        display: none;
    }

    .welcome-title {
        font-size: 50px;
        text-align: center;
    }

    .welcome-text {
        font-size: 25px;
        text-align: center;
        color: rgb(92, 92, 92);
        width: 300px;
    }

    .welcome-info {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        max-width: 80vw;
        min-height: 60vh;
    }

    .welcome-btn {
        font-size: 15px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 600px) { 
    .welcome-div {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityLake.jpeg");
        background-size: cover;
        z-index: 0;
        height: 90vh;
    }

    .welcome-image {
        display: none;
    }

    .welcome-title {
        font-size: 40px;
        text-align: center;
        width: 300px;
    }

    .welcome-text {
        font-size: 25px;
        text-align: center;
        color: rgb(92, 92, 92);
        width: 300px;
    }

    .welcome-info {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        max-width: 80vw;
        min-height: 60vh;
    }

    .welcome-btn {
        font-size: 15px;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    .welcome-div {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityLake.jpeg");
        background-size: cover;
        z-index: 0;
        height: 87vh;
    }

    .welcome-image {
        display: none;
    }

    .welcome-title {
        font-size: 80px;
        text-align: center;
        width: 700px;
    }

    .welcome-text {
        font-size: 50px;
        text-align: center;
        color: rgb(92, 92, 92);
        width: 700px;
    }

    .welcome-info {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 700px;
        height: 800px;
    }

    .welcome-btn {
        font-size: 50px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    .welcome-div {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityLake.jpeg");
        background-size: cover;
        z-index: 0;
        height: 87vh;
    }

    .welcome-image {
        display: none;
    }

    .welcome-title {
        font-size: 80px;
        text-align: center;
        width: 700px;
    }

    .welcome-text {
        font-size: 50px;
        text-align: center;
        color: rgb(92, 92, 92);
        width: 700px;
    }

    .welcome-info {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 700px;
        height: 800px;
    }

    .welcome-btn {
        font-size: 50px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
    .welcome-div {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityLake.jpeg");
        background-size: cover;
        z-index: 0;
        height: 87vh;
    }

    .welcome-image {
        display: none;
    }

    .welcome-title {
        font-size: 80px;
        text-align: center;
        width: 700px;
    }

    .welcome-text {
        font-size: 50px;
        text-align: center;
        color: rgb(92, 92, 92);
        width: 700px;
    }

    .welcome-info {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 700px;
        height: 800px;
    }

    .welcome-btn {
        font-size: 50px;
    }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) {
    .welcome-div {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/CityLake.jpeg");
        background-size: cover;
        z-index: 0;
        height: 87vh;
    }

    .welcome-image {
        display: none;
    }

    .welcome-title {
        font-size: 80px;
        text-align: center;
        width: 700px;
    }

    .welcome-text {
        font-size: 50px;
        text-align: center;
        color: rgb(92, 92, 92);
        width: 700px;
    }

    .welcome-info {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 700px;
        height: 800px;
    }

    .welcome-btn {
        font-size: 50px;
    }
}
