.page-name-div {
    margin-top: -20px;
    background-color: rgba(4, 57, 98, 1);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.page-name-text {
    flex: 500px;
    color: white;
    font-size: 30px;
}

.div-padding {
    flex: 1;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 50px;
    margin: 50px;
}

.service-container {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: 0.2s ease;
}

.service-container:hover {
    cursor: pointer;
}

.service-container:hover .service-img {
    filter: contrast(20%);
    transition: 0.2s ease;
}

.service-container:hover {
    transform: scale(1.1);
}

.service-bar {
    background-color: rgba(4, 57, 98, 1);
    height: 20px;
}

.service-preview {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-img {
    width: 100%;
    height: 300px;
    filter: contrast(70%);
    object-fit: cover;
}

.service-name {
    position: absolute;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

@media (max-width: 1500px) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
        column-gap: 50px;
        margin: 50px;
    }

    .service-name {
        position: absolute;
        font-size: 35px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 1250px) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 50px;
        margin: 50px;
    }

    .service-name {
        position: absolute;
        font-size: 35px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 700px) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
        column-gap: 50px;
        margin: 50px;
    }

    .service-name {
        position: absolute;
        font-size: 25px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 500px) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
        column-gap: 50px;
        margin: 50px;
    }

    .service-name {
        position: absolute;
        font-size: 25px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 50px;
        margin: 50px;
    }

    .service-name {
        position: absolute;
        font-size: 35px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 50px;
        margin: 50px;
    }

    .service-name {
        position: absolute;
        font-size: 35px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 100px;
        column-gap: 100px;
        margin: 50px 200px;
    }

    .service-name {
        position: absolute;
        font-size: 35px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}
